/vendor/
/node_modules/
.env
.env.*
!.env.example
/storage/*.key
/storage/logs/*
/bootstrap/cache/*.php
/.phpunit.cache/
.phpunit.result.cache
.idea/

/php.local.ini
/composer.lock.bak

/vendor/
/.env
/php.local.ini

